:root{
    --main-bg-color: #191d25;
    --glass-color: rgba(255, 255, 255, 0.1);
    --header-bg-color: #2f3a3b;
    --bg-gradient: linear-gradient(#191d25, #44577c);
}
*{
    padding: 0;
    margin: 0;
}
main{
    min-height: 100%;
}
a{
    color: aliceblue;
}
body{
    background: var(--bg-gradient);
    color: aliceblue;
}
footer{
    position: relative;
    display: grid;
    width: 100%;
    gap: 20px;
    background-color: var(--main-bg-color);
    padding: 20px;
}
address{

}

header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    background-color: var(--glass-color);
}
header > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    border-top: #191d25 dashed;
    grid-row: 2;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding-top: 10px;
}
header img{
    position: absolute;
    left: 10px;
}



textarea::placeholder{
    color: aliceblue;
}
textarea{
    color: aliceblue;
}

.profit-container{
    display: flex;
   gap: 20px;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.profit{
    height: 300px;
    width: 250px;
    background-color: var(--glass-color);
    flex-grow: 0;

}

form{
    background-color: var(--glass-color);
    border: none;
    outline: none;
}
fieldset{
    border: none;
    outline: none;
}

.glass{
    background-color: var(--glass-color);
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    backdrop-filter: blur(3px);
}
.glass:focus{
    outline: none;
    backdrop-filter: blur(6px);
}
button{
    border: none;
    padding: 5px;
    border-radius: 8px;
    background-color: var(--glass-color);
}
button:active{
    background-color: var(--active-color);
}
input{
    background-color: var(--glass-color);
}
article{
    max-width: 75%;
    
}



@media (min-width: 527px){
    footer {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width:527px){

    .body-head-container{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .body-head{
        width: 250px;
    }

    .profit-container{
        flex-direction: column;
        align-items: center;
    }
    footer {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    footer #elem3{
        grid-row: 1;
        grid-column: 2;
    }
    footer address{
        grid-column: 2;
    }
}