ol {
    margin-left: 15px;
}
article{
    text-indent: 25px;
    margin: 10px;
    font-size: 14pt;
    line-height: 30px;
    background: linear-gradient(327deg, rgba(142,194,93,0.9113465210302871) 11%, rgba(255,191,64,0.8210881764815301) 50%);

}